<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Pandas/blob/main/_2_2_7_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Science va Sun'iy Intellekt Praktikum
Ma'lumotlar tahlili. Pandas kutubxonasi.

2.2.7 Foydali funksiyalar

.loc/.iloc va .at/.iat

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
from pandas import DataFrame

## `.loc` va `.iloc`
`.loc` yordamida qator va ustunlani ularning nomi bo'yicha tanlash mumkin.

In [4]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}

df = pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kg,
     'Turkmenistan':tr
    }
)

In [5]:
df['Uzbekistan'].to_numpy() # .to_numpy ga o'zgartirish function

array([33.5, 32.9, 32.5, 31.9, 31.4, 30.9])

In [8]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [10]:
df.loc[[2020]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0

In [11]:
df.loc[[2020, 2018]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2018        32.5        18.3         9.1         6.3           5.9

In [12]:
df.loc[[2015, 2020],['Uzbekistan', 'Tajikistan']]

      Uzbekistan  Tajikistan
2015        30.9         8.5
2020        33.5         9.5

In [15]:
df.iloc[[0, 4], [0, 3]] # .iloc tartib raqamiga murojat qiladi qachonki indexlarga murojat qilganimizda foydali bo'ladi

      Uzbekistan  Kyrgizstan
2020        33.5         6.5
2016        31.4         6.1

In [16]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6