<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Pandas/blob/main/_2_2_8_Arifmetik_Amallar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ma'lumotlar tahlili. Pandas kutubxonasi.
## 2.2.3 Foydali funksiyalar

ARIFMETIK AMALLAR

Ikki ```Series``` yoki ```DataFrame``` obyektlari o'rtasida arifmetik amallar bajarishda indexlar juda muhim rol o'ynaydi.

Amallar mos tushuvchi indexlar o'rtasida bajariladi. Agar obyektlarning birida mavjud indeks ikkinchisida yo'q bo'lsa NaN bo'ladi.

In [1]:
import pandas as pd
import numpy as np

In [7]:
s1 = pd.Series([7.3, 4.5, -2.3, 1.6], index=['a', 'b', 'c', 'd']) 
s2 = pd.Series([-2.1, 3.6, 1.3, 4.8, 2], index=['a', 'c', 'e', 'f', 'g'])

In [8]:
s1

a    7.3
b    4.5
c   -2.3
d    1.6
dtype: float64

In [9]:
s2

a   -2.1
c    3.6
e    1.3
f    4.8
g    2.0
dtype: float64

In [10]:
s1 + s2

a    5.2
b    NaN
c    1.3
d    NaN
e    NaN
f    NaN
g    NaN
dtype: float64

E'tibor bering, ````s1```` da mavjud ```d``` indeksi ```s2``` da bo'lmaganligi sabab ```s1+s2``` da ```d```  indeksidagi qiymat ```NaN```bo'ldi.

Yuqoridagi holat ```DataFrame```larga hos. ```Series```lardan farqli ravshda ```DataFrame``` da qator va ustun indekslari hisobga olinadi.

In [14]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma', 'Anor', 'Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Qovun', 'Anjir', 'Gilos', 'Olma'])

In [15]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [16]:
df2

         a     b     c
Qovun  0.0   1.0   2.0
Anjir  3.0   4.0   5.0
Gilos  6.0   7.0   8.0
Olma   9.0  10.0  11.0

In [17]:
df1 + df2

        a     b     c   d
Anjir NaN   NaN   NaN NaN
Anor  NaN   NaN   NaN NaN
Gilos NaN   NaN   NaN NaN
Olma  NaN  10.0  12.0 NaN
Qovun NaN   NaN   NaN NaN
Uzum  NaN   NaN   NaN NaN

In [19]:
df1.add(df2, fill_value=0) # .add()

         a     b     c    d
Anjir  3.0   4.0   5.0  NaN
Anor   NaN   3.0   4.0  5.0
Gilos  6.0   7.0   8.0  NaN
Olma   9.0  10.0  12.0  2.0
Qovun  0.0   1.0   2.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [20]:
df2.sub(df1, fill_value=0) # .sub() - ayirish

         a     b     c    d
Anjir  3.0   4.0   5.0  NaN
Anor   NaN  -3.0  -4.0 -5.0
Gilos  6.0   7.0   8.0  NaN
Olma   9.0  10.0  10.0 -2.0
Qovun  0.0   1.0   2.0  NaN
Uzum   NaN  -6.0  -7.0 -8.0

In [22]:
df2.rsub(df1, fill_value=0) # .rsub() - o'rnini almashtirib ayirish, ya'ni o'ng tomondan boshlab ayirish

         a     b     c    d
Anjir -3.0  -4.0  -5.0  NaN
Anor   NaN   3.0   4.0  5.0
Gilos -6.0  -7.0  -8.0  NaN
Olma  -9.0 -10.0 -10.0  2.0
Qovun  0.0  -1.0  -2.0  NaN
Uzum   NaN   6.0   7.0  8.0

Bunda maxsus ```fill_value``` parametri yordamida mos tushuvchi indekslardagi NaN qiymatlarni boshqa qiymat bilan almashtirish mumkin. Bu usulda yakuniy natija ikkala df da ham mavjud bo'lmagan indekslarda NaN  qiymati qaytadi.

In [24]:
df2.div(df1, fill_value=0) # .div() - bo'lish

         a    b     c    d
Anjir  inf  inf   inf  NaN
Anor   NaN  0.0   0.0  0.0
Gilos  inf  inf   inf  NaN
Olma   inf  inf  11.0  0.0
Qovun  NaN  inf   inf  NaN
Uzum   NaN  0.0   0.0  0.0

## **Boshqa arifmetik amallar**

*   add, radd - Qo'shish(+)
*   sub, rsub - Ayirish(-)
*   div, rdiv - Bo'lish(/)
*   floordiv, rfloordiv - Bo'lish va butun qismini olish(//)
*   mul, rmul - Ko'paytirish(*)
*   pow, rpow - Eksponenta(**)

Yuqoridagi amallarning barchasida ```fill_value``` parametri mavjud.

```r```  bilan boshlangan methodlarda ```DataFrama``` ifodaning o'ng qiymatida bo'ladi.

## DF va Series o'rtasida arifmetik amallar

In [25]:
df = pd.DataFrame(np.arange(1,13.).reshape(3,4), index=list('abc'), columns=['Anor', 'Behi', 'Qovun', 'Tarvuz'])
obj = pd.Series([1, 1, 2, 2], index=df.columns)

In [26]:
df

   Anor  Behi  Qovun  Tarvuz
a   1.0   2.0    3.0     4.0
b   5.0   6.0    7.0     8.0
c   9.0  10.0   11.0    12.0

In [27]:
obj

Anor      1
Behi      1
Qovun     2
Tarvuz    2
dtype: int64

In [28]:
df+obj

   Anor  Behi  Qovun  Tarvuz
a   2.0   3.0    5.0     6.0
b   6.0   7.0    9.0    10.0
c  10.0  11.0   13.0    14.0

In [34]:
 obj = pd.Series([2, 3, 1], index=['Anor', 'Behi', 'Qovun'])

In [35]:
obj

Anor     2
Behi     3
Qovun    1
dtype: int64

In [36]:
df.sub(obj)

   Anor  Behi  Qovun  Tarvuz
a  -1.0  -1.0    2.0     NaN
b   3.0   3.0    6.0     NaN
c   7.0   7.0   10.0     NaN

In [37]:
df.add(obj)

   Anor  Behi  Qovun  Tarvuz
a   3.0   5.0    4.0     NaN
b   7.0   9.0    8.0     NaN
c  11.0  13.0   12.0     NaN