<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Pandas/blob/main/_2_2_9_Arithmetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### 2.2.3 Foydali funksiyalar (davomi)

### Arifmetik amallar

Ikki `Series` yoki `DataFrame` obyektlari o'rtasida arifmetik amallar bajarishda indekslar juda muhim rol o'ynaydi. 

Amallar mos tushuvchi indekslar o'rtasida bajariladi. Agar obyektlarning birida mavjud indeks ikkinchisda yo'q bo'lsa natija `NaN` bo'ladi.

## `DataFrame` va `Series` o'rtasida arifmetik amallar

In [5]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame(np.random.randn(3, 4), index=list('abc'), columns=['Olma', 'Anor', 'Qovun', 'Anjir'])

In [14]:
df

       Olma      Anor     Qovun     Anjir
a -0.344036 -0.311636  0.553346  0.736191
b -0.198324  0.149367  0.222937 -0.084489
c -1.906901  0.441493  0.739424  1.688492

In [15]:
np.abs(df) # .abs() - absolutely qiymat

       Olma      Anor     Qovun     Anjir
a  0.344036  0.311636  0.553346  0.736191
b  0.198324  0.149367  0.222937  0.084489
c  1.906901  0.441493  0.739424  1.688492

In [16]:
np.round(df) # .round() - butunlash function

   Olma  Anor  Qovun  Anjir
a  -0.0  -0.0    1.0    1.0
b  -0.0   0.0    0.0   -0.0
c  -2.0   0.0    1.0    2.0

In [21]:
df.mean(axis=1)

a    0.158466
b    0.022373
c    0.240627
dtype: float64

In [23]:
df.apply(np.abs) # o'zimizdi functionni yozishimiz mumkin

       Olma      Anor     Qovun     Anjir
a  0.344036  0.311636  0.553346  0.736191
b  0.198324  0.149367  0.222937  0.084489
c  1.906901  0.441493  0.739424  1.688492

In [24]:
df.apply(sum, axis=1)

a    0.633865
b    0.089492
c    0.962508
dtype: float64

In [26]:
f = lambda x: x.max() - x.min() # bir martalik functions

In [27]:
df.apply(f)

Olma     1.708577
Anor     0.753129
Qovun    0.516486
Anjir    1.772981
dtype: float64

In [28]:
df.apply(lambda x: x.max() - x.min())

Olma     1.708577
Anor     0.753129
Qovun    0.516486
Anjir    1.772981
dtype: float64

In [30]:
def foo(x):
  return pd.Series([x.max(), x.min()], index=['max', 'min'])

In [31]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
max -0.198324  0.441493  0.739424  1.688492
min -1.906901 -0.311636  0.222937 -0.084489

In [32]:
df

       Olma      Anor     Qovun     Anjir
a -0.344036 -0.311636  0.553346  0.736191
b -0.198324  0.149367  0.222937 -0.084489
c -1.906901  0.441493  0.739424  1.688492

In [ ]:
df.applymap() # xar bitta element uchun qo'llab chiqadi

In [34]:
df = pd.DataFrame(np.arange(1,13).reshape(3, 4), index=list('abc'), columns=['Olma', 'Anor', 'Qovun', 'Anjir'])

In [35]:
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [36]:
df.applymap(lambda x: x*x) # bu yerda o'ziga o'zini ko'paytirdi

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144