<a href="https://colab.research.google.com/github/lazizrakhmat/DataScience_pandas/blob/main/_2_2_3_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [3]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [4]:
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'], index=[21,20,19,18,17,16,15,10 ])
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

In [5]:
aholi = df['Aholi soni']
aholi

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [6]:
df.Temp

21    1.54
20    1.48
19    1.56
18    1.62
17    1.65
16    1.66
15    1.64
10    1.53
Name: Temp, dtype: float64

In [7]:
df.YAIM = 0
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9     0
20  2020  1.48        33.5     0
19  2019  1.56        32.9     0
18  2018  1.62        32.5     0
17  2017  1.65        31.9     0
16  2016  1.66        31.4     0
15  2015  1.64        30.9     0
10  2010  1.53        28.5     0

In [10]:
val = pd.Series([1700, 1640, 1350], index=[21, 17, 15])
df.YAIM = val

In [11]:
df

     Yil  Temp  Aholi soni    YAIM
21  2021  1.54        33.9  1700.0
20  2020  1.48        33.5     NaN
19  2019  1.56        32.9     NaN
18  2018  1.62        32.5     NaN
17  2017  1.65        31.9  1640.0
16  2016  1.66        31.4     NaN
15  2015  1.64        30.9  1350.0
10  2010  1.53        28.5     NaN

In [13]:
val = [1700, 1650, 1500, 1480, 1420, 1340, 1300, 1280]
df.YAIM = val
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1500
18  2018  1.62        32.5  1480
17  2017  1.65        31.9  1420
16  2016  1.66        31.4  1340
15  2015  1.64        30.9  1300
10  2010  1.53        28.5  1280

In [15]:
df['1500+'] = df.YAIM>1500
df

     Yil  Temp  Aholi soni  YAIM  1500+
21  2021  1.54        33.9  1700   True
20  2020  1.48        33.5  1650   True
19  2019  1.56        32.9  1500  False
18  2018  1.62        32.5  1480  False
17  2017  1.65        31.9  1420  False
16  2016  1.66        31.4  1340  False
15  2015  1.64        30.9  1300  False
10  2010  1.53        28.5  1280  False

In [16]:
del df['1500+']
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1500
18  2018  1.62        32.5  1480
17  2017  1.65        31.9  1420
16  2016  1.66        31.4  1340
15  2015  1.64        30.9  1300
10  2010  1.53        28.5  1280

Index obyekti

In [17]:
df.index

Int64Index([21, 20, 19, 18, 17, 16, 15, 10], dtype='int64')

In [18]:
df.columns

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [19]:
indeks = df.columns

In [20]:
indeks

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [21]:
'Temp' in indeks

True

In [23]:
21 in df.index

True

In [24]:
indeks[0]

'Yil'

In [26]:
indeks[:5]

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [27]:
indeks[2:6]

Index(['Aholi soni', 'YAIM'], dtype='object')

*Index*lani **qiymatini o'zgartirib** bo'lmaydi

TypeError: Index does not support mutable operations

In [28]:
indeks[1] = 'qiymat'

TypeError: ignored

In [37]:
data1 = {
    'Uzbekhstan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}    
}
df = pd.DataFrame(data1)

In [38]:
df

      Uzbekhstan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8