<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Pandas/blob/main/data_useful_function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy Intellekt Praktikum
## 3-MODUL. MA’LUMOTLARGA ISHLOV BERISH
3.2 Ma'lumotlarni tozalash va tayyorlash

In [1]:
import numpy as np
import pandas as pd

# Foydali funksiyalar

In [3]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [4]:
len(df) # df 'ning uzunligini tekshiramiz

100

In [7]:
randlist = np.random.permutation(100) # .permutation - sonlarni aralashtirib tashlaydi
randlist

array([91, 73, 67, 24, 53, 30, 65, 85, 70, 16, 64, 11, 18, 21, 93, 14, 45,
       44, 26, 25, 23, 88, 38, 75, 27, 29, 99, 96, 20, 12, 52, 33,  0, 46,
       87,  8, 55, 15, 54, 98, 61, 69,  9, 50, 51, 42,  7, 72, 74, 35, 82,
       78, 56,  6, 66, 81, 36, 90, 39,  1,  3,  4, 94, 97, 10,  2, 49, 84,
       79, 77, 68, 80, 60, 17, 47, 43, 31, 32, 48, 28, 89, 34, 40, 22, 83,
        5, 41, 37, 57, 86, 76, 59, 13, 71, 63, 92, 62, 58, 19, 95])

In [8]:
df.take(randlist) # .take - randlist'dan df'ga oladi

   first_name    last_name                         email       gender  age
id
92       Yuri        Fahey              yfahey2j@pbs.org   Non-binary   37
74      Curry   Smalecombe  csmalecombe21@washington.edu         Male   69
68      Letty      Liddell            lliddell1v@nps.gov  Genderfluid   85
25    Phaedra       Guslon      pguslono@studiopress.com  Genderqueer   18
54    Gregory        Criag       gcriag1h@purevolume.com   Polygender   50
..        ...          ...                           ...          ...  ...
93    Fairfax       Juleff            fjuleff2k@narod.ru   Polygender   84
63   Adrianne      Gommowe  agommowe1q@deliciousdays.com         Male  100
59      Lynna  Gionettitti        lgionettitti1m@unc.edu   Polygender   70
20      Arlie      Mintram      amintramj@soundcloud.com     Bigender   41
96       Baxy        Marcu      bmarcu2n@list-manage.com      Agender   64

[100 rows x 5 columns]

In [9]:
df.sample(10) # .sample - 10 ta tasodifiy qiymatlarni qaytaradi

   first_name   last_name                         email       gender  age
id
2     Pietrek     Scanlin        pscanlin1@yolasite.com         Male   91
85       Dido      Megany          dmegany2c@unesco.org   Non-binary   65
45    Koralle   Pumphreys        kpumphreys18@issuu.com   Polygender   38
51  Gwendolin     Kennion  gkennion1e@independent.co.uk     Bigender   83
6       Glynn      Ebbing        gebbing5@rakuten.co.jp  Genderfluid   77
32  Mirabelle  Matthewson  mmatthewsonv@list-manage.com      Agender   44
93    Fairfax      Juleff            fjuleff2k@narod.ru   Polygender   84
99  Desdemona     Jurasek      djurasek2q@aboutads.info  Genderfluid   46
91      Judas      Maffin         jmaffin2i@dropbox.com         Male    3
62     Kennan       Visco          kvisco1p@jiathis.com       Female   94

In [12]:
df.sample(10, replace=True) # ,replace=True tasodiy qiymatlarni qaytaradi lekin ba'zilari takrorlanib keladi

    first_name    last_name                         email      gender   age
id
39      Godard        Miere             gmiere12@1688.com  Polygender  3434
63    Adrianne      Gommowe  agommowe1q@deliciousdays.com        Male   100
91       Judas       Maffin         jmaffin2i@dropbox.com        Male     3
17       Byram  Martynikhin     bmartynikhing@jiathis.com        Male    40
66      Alejoa   Abrahamoff         aabrahamoff1t@com.com  Polygender    28
39      Godard        Miere             gmiere12@1688.com  Polygender  3434
14     Mariana      Shevels             mshevelsd@msn.com     Agender    60
100      Mable      Toffano        mtoffano2r@myspace.com    Bigender   233
67      Bunnie       Ozanne      bozanne1u@whitehouse.gov        Male    92
54     Gregory        Criag       gcriag1h@purevolume.com  Polygender    50